.footer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 530px;
  padding: 10px 0;
  bottom: 0;
  background-color: #5383d3;
  color: #ffffff;
  gap: 10px;
  z-index: 200;
}

.footer p {
  font-size: 20px;
}

.footer a {
  width: 32px;
  height: 32px;
  color: #ffffff;
}