.post {
	width: 50%;
	min-width: 500px;
	max-width: 800px;
	height: min-content;
	box-shadow: 0 2px 8px #777777;
	background-color: #ffffff;
}

.post h2 {
	display: flex;
	position: relative;
	align-items: center;
	padding: 20px;
	background-color: #5383d3;
	font-size: 32px;
	color: #ffffff;
	gap: 8px;
}

.post .button {
	position: absolute;
	justify-content: center;
	right: 20px;
	padding: 8px;
	border-radius: 50%;
}