.view {
  width: 100%;
  height: min-content;
  margin-top: 10px;
  box-shadow: 0 2px 8px #333333;
}

.view div {
  display: flex;
  justify-content: space-around;
  height: min-content;
  padding: 10px 5px;
  background-color: #ffffff;
}

.view a {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 3px #000000;
}

.view img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}